downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.python-version
celerybeat-schedule
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles
.DS_Store
*.egg-info/
dist/
build/